body{
	background: #818C1E;
}

p{
	color:black;
	text-align: center;
	position: center;
	left: 45px; 
	top: 150px;
	font-size:50px
}



h1{
	color:#374B8D;
	text-align: center;
	font-family: Sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #A80000;
}

.active {
  background-color: #4CAF50;
}

li{
	float:left;
}

.hh {
	 float: left;
}


button{

	background-color:green;
	color:white;
	padding:20px 10px;




}

div{
text-align: center;
position: center;
}

#welcome{
		text-align: center;


}

